#Feliz{background-color: yellow;}
#Triste{background-color: blue;}
#Enojado{background-color: red;}
#Sorprendido{background-color: yellowgreen;}
#Asustado{background-color: blueviolet;}
#Confundido{background-color: darkgrey;}
#Aburrido{background-color: darkmagenta;}
#Avergonzado{background-color: pink;}
#Emocionado{background-color: springgreen;}
